<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="D42Demo">
<listeners>
<listener class-name="Academy.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Academy.DataCenterTest"/>
    </classes>
  </test>
</suite>
